#ignore data folders for containers
/services/
/volumes/
/LMDSBackups/
/media/
/[dD]ownloads/
/Movies/
/Music/
/ssl/
/ssl
/TVseries/
/TransmissionWathFolder/
/TVrecordings/
/vpn/
docker-compose.yml
.outofdate
downloads